// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.form{
    margin: 0 auto;

    label{
        margin-top: 15px;
    }
}

.btn{
    background-color: blue;
    color: white;

    &:hover{
        background-color: #0a53be;
        color: white;
    }
}

input:disabled, textarea:disabled{
    cursor: not-allowed;
}

.filter{
    border: 1px solid darkgray;
    padding: 10px;
    border-radius: 4px;

    span:nth-child(2){
        margin-left: 10px;
        margin-right: 20px;
    }

    span{
        &:hover{
            cursor: pointer;
        }
    }
}
